name: Release

on:
  push:
    branches: [main]

permissions: read-all

jobs:
  release:
    uses: ./.github/workflows/auto-release.yml
    permissions:
      contents: write
      id-token: write
      attestations: write
    with:
      enable_provenance: true
